
$ng-valid: #90e;
$ng-invalid: #f00;
$ng-invalid-minlength-maxlength: #ff0;

.ng-valid {
	background-color: $ng-valid;
}

.ng-dirty {
	&.ng-invalid-required,
	&.ng-invalid,
	&.ng-invalid-email {
		background-color: $ng-invalid;
	}
	&.ng-invalid-minlength,
	&.ng-invalid-maxlength {
		background-color: $ng-invalid-minlength-maxlength;
	}
}
