
@import "common";

$ng-valid: #a8e33b;
$ng-invalid: #f00;
$ng-invalid-minlength-maxlength: #ff0;

input {
	&.ng-valid {
		@include background($ng-valid);
	}
	&.ng-dirty {
		&.ng-invalid-required,
		&.ng-invalid,
		&.ng-invalid-email {
			@include background($ng-invalid);
		}
		&.ng-invalid-minlength,
		&.ng-invalid-maxlength {
			@include background($ng-invalid-minlength-maxlength);
		}
	}
	&.search {
		@include background($white);
	}
}
