input.ng-valid {
  background-color: #a8e33b; }

input.ng-dirty.ng-invalid-required, input.ng-dirty.ng-invalid, input.ng-dirty.ng-invalid-email {
  background-color: #f00; }

input.ng-dirty.ng-invalid-minlength, input.ng-dirty.ng-invalid-maxlength {
  background-color: #ff0; }

input.search {
  background-color: #fff; }
