.ng-valid {
  background-color: #90e; }

.ng-dirty.ng-invalid-required, .ng-dirty.ng-invalid, .ng-dirty.ng-invalid-email {
  background-color: #f00; }

.ng-dirty.ng-invalid-minlength, .ng-dirty.ng-invalid-maxlength {
  background-color: #ff0; }
