body {
  background-color: #f5f5f5; }
  body #mainWrapper {
    background-color: #f5f5f5; }
  body .container-fluid {
    margin-top: 30px; }
  body .form-control {
    font-size: 12px; }
  body .flash-message {
    position: absolute;
    width: 98%;
    margin: 10px auto;
    z-index: 1; }
  body .float-right {
    margin-right: 18px;
    float: right; }
  body .has-error {
    color: #8b0000; }
    body .has-error > span {
      display: block;
      margin: 10px auto; }
  body .table {
    margin-bottom: 0; }
  body td {
    overflow: auto; }
    body td.operations button {
      margin: 5px; }
  body .formcontainer {
    padding: 20px;
    background-color: #dae8e8; }
